body {
background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0a/The_Great_Wave_off_Kanagawa.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: 100%;
}

Title {
color: green;
}

h1 {
  background-color: #C2CD10;
  color: White;
  opacity: 0.95;
margin-left: 20px;
}

p {
  background-color: #C2DB70;
  color: black;
  opacity: 0.95;
margin-left: 20px;
}
img {
  opacity: 0.9;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0x;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
}