body {
background-image: url("https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/s960x960/70557069_10217570751692775_3241458577600151552_o.jpg?_nc_cat=108&_nc_ohc=thgmAuJbXFgAX80j1Uw&_nc_ht=scontent-sjc3-1.xx&oh=e4946c93bbc1f1119274338eb8e761b8&oe=5ED6CFA6");
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: 100%;
}

Title {
color: green;
}

h1 {
  background-color:
  color: White;
  opacity: 0.95;
margin-left: 20px;
}

p {
  background-color: #C2DB70;
  color: black;
  opacity: 0.95;
margin-left: 20px;
}
img {
  opacity: 0.9;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0x;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
}