body {background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FFile%3AThe_Great_Wave_off_Kanagawa.jpg&psig=AOvVaw0angw9k6RQ44Mj_CoBDPj_&ust=1580418607897000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNjnvafcqecCFQAAAAAdAAAAABAD");
}
Title {color: green;}

h1 {margin-left: 20px;}

