#map{
  height: 92%
}
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
head {
background-image: url("NewZealand");
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: 100%;
}

      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      /* Optional: Makes the sample page fill the window. */

